<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <link
            href="https://fonts.googleapis.com/css?family=Noto+Sans|Poppins|Roboto"
            rel="stylesheet"
        />

        <div class="wrapper">
            <div class="sidebar">
                <div class="author">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr5b6zIQ92r2jtwT05BHcB6KeA5Be7_T2ZPQ&s"
                        alt=""
                        class="avator"
                    />
                    <h3>Hi there!</h3>
                </div>
                <nav class="menu">
                    <a href="#" class="bt">Home</a>
                    <a href="#">About</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                </nav>
            </div>
            <div class="main-elements">
                <div class="toggle-bars">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <h1>Sidebar layout with css Flexbox</h1>
                <p>
                    Churn rate non-disclosure agreement buyer focus ecosystem
                    iPad. Release venture crowdsource burn rate facebook
                    paradigm shift supply chain prototype responsive web design
                    partnership deployment. Innovator crowdsource holy grail
                    advisor. Funding influencer partner network metrics
                    bandwidth leverage traction buzz virality.
                </p>
                <p>
                    Churn rate non-disclosure agreement buyer focus ecosystem
                    iPad. Release venture crowdsource burn rate facebook
                    paradigm shift supply chain prototype responsive web design
                    partnership deployment. Innovator crowdsource holy grail
                    advisor. Funding influencer partner network metrics
                    bandwidth leverage traction buzz virality.
                </p>
                <p>
                    Churn rate non-disclosure agreement buyer focus ecosystem
                    iPad. Release venture crowdsource burn rate facebook
                    paradigm shift supply chain prototype responsive web design
                    partnership deployment. Innovator crowdsource holy grail
                    advisor. Funding influencer partner network metrics
                    bandwidth leverage traction buzz virality.
                </p>
                <p>
                    Churn rate non-disclosure agreement buyer focus ecosystem
                    iPad. Release venture crowdsource burn rate facebook
                    paradigm shift supply chain prototype responsive web design
                    partnership deployment. Innovator crowdsource holy grail
                    advisor. Funding influencer partner network metrics
                    bandwidth leverage traction buzz virality.
                </p>
                <p>
                    Churn rate non-disclosure agreement buyer focus ecosystem
                    iPad. Release venture crowdsource burn rate facebook
                    paradigm shift supply chain prototype responsive web design
                    partnership deployment. Innovator crowdsource holy grail
                    advisor. Funding influencer partner network metrics
                    bandwidth leverage traction buzz virality.
                </p>
                <p>
                    Churn rate non-disclosure agreement buyer focus ecosystem
                    iPad. Release venture crowdsource burn rate facebook
                    paradigm shift supply chain prototype responsive web design
                    partnership deployment. Innovator crowdsource holy grail
                    advisor. Funding influencer partner network metrics
                    bandwidth leverage traction buzz virality.
                </p>
                <p>
                    Churn rate non-disclosure agreement buyer focus ecosystem
                    iPad. Release venture crowdsource burn rate facebook
                    paradigm shift supply chain prototype responsive web design
                    partnership deployment. Innovator crowdsource holy grail
                    advisor. Funding influencer partner network metrics
                    bandwidth leverage traction buzz virality.
                </p>
                <p>
                    Churn rate non-disclosure agreement buyer focus ecosystem
                    iPad. Release venture crowdsource burn rate facebook
                    paradigm shift supply chain prototype responsive web design
                    partnership deployment. Innovator crowdsource holy grail
                    advisor. Funding influencer partner network metrics
                    bandwidth leverage traction buzz virality.
                </p>
            </div>
        </div>
    </body>
</html>
