<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <div class="post-content-wrapper">
            <div class="flex flex10">
                <div class="child flex10-child flex10-child-1">1</div>
                <div class="child flex10-child flex10-child-2">2</div>
                <div class="child flex10-child flex10-child-3">3</div>
                <div class="child flex10-child flex10-child-4">4</div>
                <div class="child flex10-child flex10-child-5">5</div>
                <div class="child flex10-child flex10-child-6">6</div>
                <div class="child flex10-child flex10-child-7">7</div>
                <div class="child flex10-child flex10-child-8">8</div>
                <div class="child flex10-child flex10-child-9">9</div>
                <div class="child flex10-child flex10-child-10">10</div>
            </div>
        </div>
    </body>
</html>
